<section id="bannerTop">
    <h2>
        <img src="{{ url('theme://images/avatar-dark.png') }}" alt="Amamos o que fazemos" />
        MAMOS O QUE FAZEMOS
    </h2>
    <div class="arrowDown-wrapper">
        <a href="#second-screen"><i class="fas fa-angle-down"></i></a>
    </div>
    {# <div class="backTop-wrapper"> #}
    <button onclick="topFunction()" id="backTop" title="go to top"><i class="fas fa-arrow-up"></i></button>
    {# </div> #}
</section>