{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    {# <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> #}
    <title>Onesti Advogados</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    {# <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> #}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js"></script>
    {# <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> #}

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
        {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
        {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
        {% do assets.addCss('theme://css-compiled/theme'~compress) %}
        {% do assets.addCss('theme://css/custom.css') %}
        {% do assets.addCss('theme://css/line-awesome.min.css') %}
        {% do assets.addCss('theme://css/slick-theme.css') %}
        {% do assets.addCss('theme://css/slick.css') %}
    {% endblock %}
    {{ assets.css()|raw }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/toggle_block.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/smooth-scroll.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/back-top.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/all-collapse.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/language.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/carousel-slide.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/header.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/slick-slide.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/carrossel-depoimentos.js', {group:'bottom'}) %}
    {% endblock %}
    {{ assets.js()|raw }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.js"></script>
{% endblock head %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div id="page-wrapper">
    {% block header %}
        <nav class="nav-bar nav-bar--pc">
            <div class="nav-bar__wrapper">
                <div class="nav-bar__logo">
                    <div class="logo-ctn">
                        <img src="{{ url('theme://images/nav-bar/onesti.svg') }}" class="onesti" alt="Onesti" />
                        <img src="{{ url('theme://images/nav-bar/a-symbol.svg') }}" class="a-symbol" alt="Onesti" />
                        <img src="{{ url('theme://images/nav-bar/a-symbol-white.svg') }}" class="a-symbol a-symbol--white" alt="Onesti" />
                        <img src="{{ url('theme://images/nav-bar/dvogados.svg') }}" class="dvogados" alt="Onesti" />
                    </div>
                </div>
                <div class="nav-bar__divider"></div>
                <div class="nav-bar-menu-ctn">
                    <span class="nav-bar-title" id="nav-bar-title">Menu</span>
                    <div class="nav-bar-menu">
                        <div class="nav-bar-menu-item">
                            <span class="nav-bar-menu-item__title">Escritório</span>
                            <ul class="nav-bar-menu-item__submenu">
                                <li class="menu-link" data-to="unicos">
                                    <span>Somos únicos</span>
                                    <span>Por que nós</span>
                                </li>
                                <li class="menu-link" data-to="viemos">
                                    <span>De onde viemos</span>
                                    <span>História</span>
                                </li>
                                <li class="menu-link" data-to="vemos">
                                    <span>O que vemos</span>
                                    <span>Visão</span>
                                </li>
                                <li class="menu-link" data-to="pensamos">
                                    <span>Como pensamos</span>
                                    <span>Política</span>
                                </li>
                                <li class="menu-link" data-to="vivemos">
                                    <span>Como vivemos</span>
                                    <span>Valores</span>
                                </li>
                                <li class="menu-link" data-to="praticamos">
                                    <span>Como praticamos</span>
                                    <span>Responsabilidades</span>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-bar-menu-item">
                            <span class="nav-bar-menu-item__title">Prática</span>
                            <ul class="nav-bar-menu-item__submenu">
                                <li class="menu-link" data-to="temos">
                                    <span>O que temos</span>
                                    <span>Base</span>
                                </li>
                                <li class="menu-link" data-to="atender">
                                    <span>Prontos pra te atender</span>
                                    <span>Estrutura</span>
                                </li>
                                <li class="menu-link" data-to="solucoes">
                                    <span>Nossa soluções</span>
                                    <span>Soluções</span>
                                </li>
                                <li class="menu-link" data-to="atuacao">
                                    <span>Nossa atuação</span>
                                    <span>Área</span>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-bar-menu-item">
                            <span class="nav-bar-menu-item__title">Reconhecimento</span>
                            <ul class="nav-bar-menu-item__submenu">
                                <li class="menu-link" data-to="estivemos">
                                    <span>Onde estivemos</span>
                                    <span>Mídia</span>
                                </li>
                                <li class="menu-link" data-to="depoimentos">
                                    <span>O que dizem por aí</span>
                                    <span>Testemunho</span>
                                </li>
                                <li class="menu-link" data-to="cases">
                                    <span>Cases de sucesso</span>
                                    <span>Conquistas</span>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-bar-menu-item">
                            <span class="nav-bar-menu-item__title">Mídias</span>
                            <ul class="nav-bar-menu-item__submenu nav-bar-menu-item__submenu--medias">
                                <li>
                                    <span>Facebook</span>
                                </li>
                                <li>
                                    <span>Linkedin</span>
                                </li>
                                <li>
                                    <span>Instagram</span>
                                </li>
                                <li>
                                    <span>Twitter</span>
                                </li>
                                <li>
                                    <span>Youtube</span>
                                </li>
                                <li>
                                    <span>Yelp</span>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-bar-menu__divider"></div>
                        <div class="menu-item-indicator" id="menu-item-indicator"></div>
                    </div>
                </div>
            </div>
            <div class="nav-bar__background"></div>
        </nav>
        <nav class="nav-bar-mobile">
            <div class="nav-bar-mobile__logo" id="nav-bar-mobile-logo">
                <img src="{{ url('theme://images/logo/logo-white.png') }}" alt="Logotipo Onesti" />
            </div>
            <div class="nav-bar-mobile__menu-btn" id="menu-mobile-btn">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-bar-mobile-menu" id="nav-bar-mobile-menu">
                <div class="nav-bar-mobile-menu__wrapper">
                    <div class="nav-bar-mobile-menu__drawer">
                        <div class="mobile-menu-item">
                            <span class="mobile-menu-item__title">Escritório</span>
                            <ul class="mobile-menu-item__submenu">
                                <li class="menu-link" data-to="unicos">
                                    <span>Somos únicos</span>
                                    <span>Por que nós</span>
                                </li>
                                <li class="menu-link" data-to="viemos">
                                    <span>De onde viemos</span>
                                    <span>História</span>
                                </li>
                                <li class="menu-link" data-to="vemos">
                                    <span>O que vemos</span>
                                    <span>Visão</span>
                                </li>
                                <li class="menu-link" data-to="pensamos">
                                    <span>Como pensamos</span>
                                    <span>Política</span>
                                </li>
                                <li class="menu-link" data-to="vivemos">
                                    <span>Como vivemos</span>
                                    <span>Valores</span>
                                </li>
                                <li class="menu-link" data-to="praticamos">
                                    <span>Como praticamos</span>
                                    <span>Responsabilidades</span>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile-menu-item">
                            <span class="mobile-menu-item__title">Prática</span>
                            <ul class="mobile-menu-item__submenu">
                                <li class="menu-link" data-to="temos">
                                    <span>O que temos</span>
                                    <span>Base</span>
                                </li>
                                <li class="menu-link" data-to="atender">
                                    <span>Prontos pra te atender</span>
                                    <span>Estrutura</span>
                                </li>
                                <li class="menu-link" data-to="solucoes">
                                    <span>Nossa soluções</span>
                                    <span>Soluções</span>
                                </li>
                                <li class="menu-link" data-to="atuacao">
                                    <span>Nossa atuação</span>
                                    <span>Área</span>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile-menu-item">
                            <span class="mobile-menu-item__title">Reconhecimento</span>
                            <ul class="mobile-menu-item__submenu">
                                <li class="menu-link" data-to="estivemos">
                                    <span>Onde estivemos</span>
                                    <span>Mídia</span>
                                </li>
                                <li class="menu-link" data-to="depoimentos">
                                    <span>O que dizem por aí</span>
                                    <span>Testemunho</span>
                                </li>
                                <li class="menu-link" data-to="cases">
                                    <span>Cases de sucesso</span>
                                    <span>Conquistas</span>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile-menu-item">
                            <span class="mobile-menu-item__title">Mídias</span>
                            <ul class="mobile-menu-item__submenu">
                                <li>
                                    <span>Facebook</span>
                                </li>
                                <li>
                                    <span>Linkedin</span>
                                </li>
                                <li>
                                    <span>Instagram</span>
                                </li>
                                <li>
                                    <span>Twitter</span>
                                </li>
                                <li>
                                    <span>Youtube</span>
                                </li>
                                <li>
                                    <span>Yelp</span>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile-menu-indicator" id="mobile-menu-indicator"></div>
                    </div>
                </div>
            </div>
        </nav>
{#        <section id="header" class="section">#}
{#            #}{# <section class="container {{ grid_size }}"> #}
{#            <section class="topbarInner">#}
{#                <nav class="navbar">#}
{#                    <section class="navbar-section logo">#}
{#                        <div class="navbar-wrapper">#}
{#                            {% include 'partials/logo.html.twig' %}#}
{#                            <div class="menuIcon-wrapper">#}
{#                                <i class="fas fa-bars" style="color: #FFF"></i>#}
{#                                <nav class="dropmenu animated">#}
{#                                {% block header_navigation %}#}
{#                                    {% include 'partials/navigation.html.twig' %}#}
{#                                {% endblock %}#}
{#                                </nav>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="languageItem">#}
{#                            <ul>#}
{#                                <li>#}
{#                                    <a href="#">IDIOMA</a>#}
{#                                    #}{# <ul>#}
{#                                        <li>#}
{#                                            <a>inglês</a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a>espanhol</a>#}
{#                                        </li>#}
{#                                    </ul> #}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </section>#}
{#                </nav>#}
{#            </section>#}
{#        </section>#}
{#        <div class="mobile-menu">#}
{#            <div class="button_container" id="toggle">#}
{#                <span class="top"></span>#}
{#                <span class="middle"></span>#}
{#                <span class="bottom"></span>#}
{#            </div>#}
{#        </div>#}
    {% endblock %}
{# <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> #}
    {% if page.header.title == "Home" %}
        {% include 'partials/banner.html.twig' %}
    {% endif %}
    
    {# {% block banner %}
        {% include 'partials/banner.html.twig' %}
    {% endblock %} #}

    {% block hero %}{% endblock %}

        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                {# <section class="container {{ grid_size }}"> #}
                <section class="{{ grid_size }}">
                    {# {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %} #}
                    {% block content %}{% endblock %}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {% if page.header.title == "Home" %}
        {% include 'partials/footer.html.twig' %}
    {% endif %}

    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js'></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/onesti-advogados/user/themes/onesti/js/slick.min.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
