<section id="footer" class="footer-container">
    <div class="container grid-lg">
        {# <section class="container {{ grid_size }}">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
        </section> #}
        <div class="logo-container col-12">
            <div class="logo-wrapper">
                <img src="/onesti-proj/user/themes/onesti/images/logo/logo-white.png" alt="Onesti Advogados">
            </div>
        </div>
        <div class="footerContent">
            <div class="footerColumn">
                <!-- portuguese -->
                <p class="language" lang="pt-br">Soluções estratégicas, inteligentes e inovadoras. Uma combinação mágica de habilidades legais e empresariais. Nossos ideais de parceria e dedicação são a base para um relacionamento próximo, transparente, sólido e duradouro, construído por meio da confiança e amizade. Essa é a nossa paixão.</p>
                <!-- spanish -->
                <p class="language" lang="esp">Soluciones estratégicas, inteligentes e innovadoras. Una combinación mágica de habilidades legales y empresariales. Nuestros ideales de asociación y dedicación son la base para una relación cercana, transparente, sólida y duradera, construida a través de la confianza y la amistad. Esta es nuestra pasión.</p>
                <div class="footerAddress-wrapper">
                    <div class="footerTitle-wrapper">
                        <span class="squareTitle">&#9632;</span>
                        <!-- portuguese -->
                        <h6 class="language" lang="pt-br">NOSSOS CANAIS</h6>
                        <!-- spanish -->
                        <h6 class="language" lang="esp">NUESTROS CANALES</h6>
                    </div>
                    <p>+55 (11) 3042-0737</p>
                    <p>Av Paulista, nº 1374, 11º andar</p>
                    <p>São Paulo, SP | Brasil | 01.310-100</p>
                    <div class="social-wrapper">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
            <div class="footerColumn">
                <div class="instagram-wrapper">
                    <div class="footerTitle-wrapper">
                        <span class="squareTitle">&#9632;</span>
                        <h6>ÚLTIMOS POSTS DO INSTAGRAM</h6>
                    </div>
                    <div>
                        <!-- SnapWidget -->
                        <script src="https://snapwidget.com/js/snapwidget.js"></script>
                        <iframe src="https://snapwidget.com/embed/677305" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                        {# <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:100%;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;">SnapWidget · Instagram Widget</a></div> #}
                        {# <iframe src="https://snapwidget.com/v/in/1971904217983848030_7125654817/?src=5Xej3Zxg" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;"></iframe> #}
                        {# <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:495px;text-align:right"><a href="https://snapwidget.com" style="color:#777;text-decoration:none;">SnapWidget · Instagram Widget</a></div> #}
                    </div>
                </div>
                <div class="getEmail-wrapper">
                    <div class="footerTitle-wrapper">
                        <span class="squareTitle">&#9632;</span>
                        <!-- portuguese -->
                        <h6 class="language" lang="pt-br">FIQUE POR DENTRO</h6>
                        <!-- spanish -->
                        <h6 class="language" lang="esp">POR DENTRO</h6>
                    </div>
                    <!-- portuguese -->
                    <p class="language" lang="pt-br">Se inscreva para receber as últimas novidades do mundo jurídico e do Onesti Advogados.</p>
                    <!-- spanish -->
                    <p class="language" lang="esp">Inscríbete las últimas noticias del mundo legal y de Onesti Abogados.</p>
                    <div class="emailField-warpper">
                        <input class="field" type="email">
                        {# <button type="submit"> #}
                        <a href="#" class="sendBtn"><i class="fas fa-share-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="footerColumn">
                <div class="footerTitle-wrapper">
                    <span class="squareTitle">&#9632;</span>
                    <!-- portuguese -->
                    <h6 class="language" lang="pt-br">VAMOS CONVERSAR</h6>
                    <!-- spanish -->
                    <h6 class="language" lang="esp">VAMOS A HABLAR</h6>
                </div>
                <form class="footerForm">
                    <input class="field" type="text" name="name" placeholder="nome">
                    <input class="field" type="text" name="tel" placeholder="telefone">
                    <input class="field" type="text" name="issue" placeholder="assunto">
                    <textarea class="field">
                    </textarea>
                    <button class="sendBtn" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
        <div class="footerBottom-wrapper">
            <!-- portuguese -->
            <p class="language" lang="pt-br">NÓS <img class="iconAmamos" src="/onesti-proj/user/themes/onesti/images/icon-amamos.png"> O QUE FAZEMOS</p>
            <!-- spanish -->
            <p class="language" lang="esp">NOSOTROS <img class="iconAmamos" src="/onesti-proj/user/themes/onesti/images/icon-amamos.png"> LO QUE HACEMOS</p>
            <!-- portuguese -->
            <small class="language" lang="pt-br">Este site é fornecido exclusivamente para informações corporativas de Onesti advogados, contendo apenas informações gerais sobre assuntos legais.<br>
            Lembre-se de que a internet não é necessariamente um ambiente seguro, sendo possível que seu e-mail seja interceptado e lido por terceiros. Ao nos contatar eletronicamente, seu e-mail por si só não cria uma relação advogado-cliente. Não se trata - em hipótese alguma - de aconselhamento jurídico e não deve ser tratado como tal. Resultados anteriores não garantem resultados similares.<br>
            Assistência profissional: você não deve utilizar as informações deste site como uma alternativa à assessoria jurídica de seu advogado ou outro profissional prestador de serviços jurídicos. Se você tiver qualquer dúvida ou necessitar de esclarecimentos sobre questões legais, entre em contato e agende uma reunião por meio de nossos canais de comunicação.</small>
            <!-- spanish -->
            <small class="language" lang="esp">Este sitio se proporciona únicamente para información corporativa Onesti Abogados y contiene sólo informaciones generales sobre cuestiones legales.<br>
            Recuerde que Internet no es necesariamente un ambiente seguro, siendo posible que su e-mail sea interceptado y leído por terceros. Al comunicarnos electrónicamente, su correo electrónico por sí solo no crea una relación abogado- cliente. No se trata, en ningún caso, de asesoramiento jurídico y no debe tratarse como tal. Los resultados anteriores no garantizan resultados similares.<br>
            Asistencia profesional: usted no debe utilizar la información de este sitio como una alternativa a la asesoría jurídica de su abogado u otro profesional prestador de servicios jurídicos. Si tiene alguna duda o necesita aclaraciones sobre cuestiones legales, póngase en contacto y programe una reunión a través de nuestros canales de comunicación.</small>
        </div>
    </div>
    <nav class="footer-nav">
        <!-- portuguese -->
        <ul class="container grid-lg language" lang="pt-br">
            <li><a href="#">DECLARAÇÃO SOBRE A ESCRAVIDÃO MODERNA</a></li>
            <li><a href="#">NOSSAS POLÍTICAS SOCIAIS E AMBIENTAIS</a></li>
            <li><a href="#">PACTO ANTICORRUPÇÃO</a></li>
            <li><a href="#">TERMOS DE USO</a></li>
            <li><a href="#">AVISO LEGAL</a></li>
        </ul>
        <!-- spanish -->
        <ul class="container grid-lg language" lang="esp">
            <li><a href="#">DECLARACIÓN SOBRE LA ESCLAVITUD MODERA</a></li>
            <li><a href="#">NUESTRAS POLÍTICAS SOCIALES Y MEDIOAMBIENTALES</a></li>
            <li><a href="#">PACTO ANTICORRUPCIÓN</a></li>
            <li><a href="#">CONDICIONES DE UTILIZACIÓN</a></li>
            <li><a href="#">NOTIFICACIÓN LEGAL</a></li>
        </ul>
    </nav>
</section>
