{# {% import 'macros/macros.html.twig' as macros %}

<ul {{ tree ? 'class="tree"' : '' }}>
    {{ macros.nav_loop(pages) }}
</ul> #}

<ul>
    <li>
        <a>ESCRITÓRIO</a>
        <ul class="dropdown-box">
            <li>
                <a href="#unicosLink">SOMOS ÚNICOS | porque nós</a>
            </li>
            <li>
                <a href="#viemosLink">DE ONDE VIEMOS | história</a>
            </li>
            <li>
                <a href="#vemosLink">O QUE VEMOS | visão</a>
            </li>
            <li>
                <a href="#pensamosLink">COMO PENSAMOS | política</a>
            </li>
            <li>
                <a href="#vivemosLink">COMO VIVEMOS | valores</a>
            </li>
            <li>
                <a href="#praticamosLink">COMO PRATICAMOS | responsabilidades</a>
            </li>
        </ul>
    </li>
    <li>
        <a>PRÁTICA</a>
        <ul class="dropdown-box">
            <li>
                <a href="#temosLink">O QUE TEMOS | base</a>
            </li>
            <li>
                <a href="#atenderLink">PRONTOS PRA TE ATENDER | estrutura</a>
            </li>
            <li>
                <a href="#solucoesLink">NOSSA SOLUÇÕES | soluções</a>
            </li>
            <li>
                <a href="#atuacaoLink">NOSSA ATUAÇÃO | área</a>
            </li>
        </ul>
    <li>
        <a href="#vemos">RECONHECIMENTO</a>
        <ul class="dropdown-box">
            <li>
                <a href="#estivemosLink">ONDE ESTIVEMOS | mídia</a>
            </li>
            <li>
                <a href="#">O QUE DIZEM POR AÍ | testemunhos</a>
            </li>
            <li>
                <a href="#casesLink">CASES DE SUCESSO | conquistas</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#vemos">MÍDIAS</a>
        <ul class="dropdown-box">
            <li>
                <a href="#">FACEBOOK</a>
            </li>
            <li>
                <a href="#">LINKEDIN</a>
            </li>
            <li>
                <a href="#">INSTAGRAM</a>
            </li>
            <li>
                <a href="#">TWITTER</a>
            </li>
            <li>
                <a href="#">GOOGLE +</a>
            </li>
            <li>
                <a href="#">YOUTUBE</a>
            </li>
            <li>
                <a href="#">YELP</a>
            </li>
            <li>
                <a href="#">BLOG</a>
            </li>
        </ul>
    </li>
    {# <li>
        <a>IDIOMAS</a>
        <ul>
            <li>
                <a class="port lang select">PT</a>
            </li>
            <li>
                <a class="spanish lang">ESP</a>
            </li>
        </ul>
    </li> #}
</ul>