<div class="topbarSocial-wrapper">
    <ul>
        <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-yelp"></i></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-blog"></i></a>
        </li>
    </ul>
</div>