#bannerTop {
    background: url('./../images/foto-capa-red.jpg');
}
#banner-slave {
    margin-top: -80px;
    background: url('./../images/bg-slave.jpg');
}

#bannerTop, #banner-slave {
    width: 100%;
    height: 100vh;
    // background: url('./../images/foto-capa-red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    h2 {
        width: 100%;
        font-weight: 400;
        color: #FFF;
        font-size: 2.8rem;
        img {
            width: 36px;
            margin-bottom: 8px;
            margin-right: -10px;
        }
    }
    .arrowDown-wrapper {
        width: 100%;
        text-align: center;
        a {
            font-size: 3rem;
            color: rgba(255,255,255,.5);
            transition: .2s ease-in-out;
            &:hover {
                color: #FFF;
            }
        }
    }
}

@media (min-width: 480px) {

}

// @media (min-width: 768px) {
//     
// }

@media (min-width: 992px) {
    #bannerTop, #banner-slave {
        background-attachment: fixed;
    }
}

// @media (min-width: 1200px) {
//     
// }