* {box-sizing: border-box}
// body {font-family: Verdana, sans-serif; margin:0}
// .mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 450px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
    opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*********************/

#depoimentos {
    height: 550px;
    padding: 40px 0;
    background: url('./../images/bg-depoimentos.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    h3 {
        color: #FFF;
    }
    .titleCompl {
        color: #FFF;
        font-weight: 100;
    }
    // .carousel {
    .slider {
        height: 310px;
        width: 100%;
        .bannerImg-container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .border-container {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid #D8306A;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .roundImg-wrapper {
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    img {
                        border-radius: 50%;
                    } 
                }
            }
            p {
                font-size: .8rem;
                margin: 20px 0;
            }
        }
    }
}

@media (min-width: 480px) {
    #depoimentos {
        height: 500px;
        .carousel {
            height: 450px;
        }
    }
}
@media (min-width: 768px) {   
    #depoimentos {
        height: 450px;
        .carousel {
            height: 400px;
        }
    }
}
// @media (min-width: 992px) {
//    
// }
@media (min-width: 1200px) {
    #depoimentos {
        height: 450px;
        padding: 40px 0;
        background-position: 0 -280px;
        // .carousel {
        //     height: 350px;
        .slideshow-container {
            height: 350px;
          
            .bannerImg-container {
                width: 80%;
            }
        }
        // }
    }
}