#contact-form {
	margin-top: 10px;
	color: $text-dark-bg;
	.form-input-wrapper {
		input {
			width: 100%;
			background: $field-color;
			border: 1px solid $field-color;
			margin-bottom: 10px;
			&::placeholder {
				padding-left: 10px;
				color: $text-dark-bg;
				opacity: .6;
			}
		}
	}
	textarea {
		width: 100%;
		height: 70px;
		background: $field-color;
		border: 1px solid $field-color;
		margin-bottom: 5px;
	}
	button {
		height: 25px;
		box-sizing: border-box;
		background: $theme-color;
		border-radius: 0;
		color: $text-dark-bg;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		transition: .2s ease-in-out;
		border: 1px solid $theme-color;
		padding: 0 10px;
		font-size: .7rem;
		&:hover {
			border-width: 2px;
			background: $dark-section-bg;
		}
	}
}


form {
	.button-wrapper {
		margin-top: 0.75rem;
		margin-bottom: 1rem;
	}

	span.required {
		color: $error-color;
		font-weight: 700;
		font-size: 1.2rem;
	}

	.form-input[type=range] {
		appearance: slider-horizontal;
		&:focus {
			box-shadow: none;
			border: none;
		}
	}
}

#grav-login {

	> form {
		margin: 2rem auto 0;
		max-width: 350px;
	}
	.form-label {
		display: none;
	}
	.form-data {
		margin: 1rem 0;
	}
	.form-input {
		text-align: center;
	}
	.button-wrapper {
		text-align: right;

		.form-data.rememberme {
			margin: 0;
			float: left;
		}
		button[type="submit"] {
			@include button-primary;
		}
	}
}
