// slick slide
// smartphone
.slider.regular {
    display: none;
}
.regular2 {
    width: 80%;
    .slick-list {
        padding-bottom: 30px;
    }
}
.slider {
    // width: 50%;
    margin: 0 auto;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}
#depoimentos {
    .slick-dots li button:before {
        color: #FFF !important;
    }
}

.slick-current {
  opacity: 1;
}
// cases
#cases {
    .slick-list {
        height: 710px !important;
        padding: 0 0 50px 0 !important;
    }
}

.scroll-h {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
.scroll-h-item {
    box-sizing: border-box;
    // margin: 0 10px;
    display: inline-block;
}
.scroll-h-item img {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.flip-card {
    background-color: transparent;
    width: 70px;
    height: 70px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid red;
    transition: transform .8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden; 
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.flip-card-front {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
    display: none;
}

@media (min-width: 480px) {
    .flip-card {
        width: 100px;
        height: 100px;
    }
    .flip-card-inner {
        position: relative;
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) {
    .slider.regular {
        display: block;
    }
    .slider.regular2 {
        display: none;
    }
    .flip-card {
        width: 220px;
        height: 180px;
    }
    .regular.slider {
        width: 90%;
    }
    // .flip-card {
    //     height: 160px;
    // }
    .flip-card-inner {
        position: relative;
        width: 150px;
        height: 150px;
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-back {
        transform: rotateY(180deg);
        z-index: 1;
        display: block;
    }
    .scroll-h-item img {
        padding: 20px;
    }
    // cases
    #cases {
        .slick-list {
            height: 370px !important;
            padding: 0 0 50px 0 !important;
        }
    }
}

@media (min-width: 992px) {
    // .slider {
    //     width: 100%;
    // }
    .regular {
        // width: 100%;
    }
    .flip-card {
        height: 220px;
    }
    .flip-card-inner {
        width: 200px;
        height: 200px;
    }
}

// @media (min-width: 1200px) {
//     
// }