//ctn stands for container

$height: 80px;
$transition-time: .4s;
$nav-bar-menu-width: 600px;
$divider-offset: 85%;
$item-menu-subtitle-divider-offset: 10px;
$item-menu-subtitle-divider-height: 15px;

.nav-bar{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: $height;
  color: #fff;
  transition: background $transition-time;
  @media screen and (min-width: 1280px) {
    display: block;
  }
  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    flex: 1 0 auto;
  }
  &__divider {
    width: 1px;
    height: 60%;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 1rem;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: center top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform $transition-time cubic-bezier(.04,.77,.57,1.01), opacity $transition-time
  }
  &--black {
    background: rgba(0, 0, 0, 0.5);
    .onesti, .dvogados {
      opacity: 0;
    }
    .a-symbol {
      transform: scale(5) translateX(3px);
      &--white {
        opacity: 1;
      }
    }
    &:hover {
      .a-symbol--white {
        opacity: 0;
      }
    }
  }
}

.logo-ctn {
  position: relative;
  height: 52px;
  width: 100%;
}

.onesti {
  position: absolute;
  width: 100px;
  transition: opacity .4s;
}

.dvogados {
  position: absolute;
  top: 40px;
  left: 22px;
  width: 60px;
  transition: opacity .4s;
}

.a-symbol {
  position: absolute;
  top: 41px;
  left: 13px;
  width: 8px;
  transform-origin: left bottom;
  transition: transform .5s, opacity .3s;
  &--white {
    z-index: 10;
    opacity: 0;
  }
}

.nav-bar-menu-ctn {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-bar-title {
  transition: opacity .3s;
  opacity: 1;
  cursor: pointer;
  font-size: 18px;
  height: 26px;
}

.nav-bar-menu {
  display: flex;
  position: absolute;
  transition: opacity $transition-time;
  width: $nav-bar-menu-width;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  &__divider {
    width: 100%;
    height: 1px;
    top: $divider-offset;
    background: rgba(255, 255, 255, 0.3);
    transform-origin: left center;
    position: absolute;
    transition: transform #{$transition-time + .6s} cubic-bezier(.14,.68,.21,1) .2s;
    transform: scaleX(0);
  }
}

.nav-bar-menu-item {
  //background: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  & > span {
    margin-right: 1rem;
    cursor: pointer;
  }
  &__title {
    display: inline-block;
    font-size: 18px;
    //background: blue;
    height: 26px;
  }
  &__submenu {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    white-space: nowrap;
    margin: 0;
    pointer-events: none;
    li {
      display: flex;
      cursor: pointer;
      transition-property: opacity;
      transition-duration: .2s;
      opacity: 0;
      pointer-events: none;
      span:first-child {
        position: relative;
        margin-right: $item-menu-subtitle-divider-offset;
        &::after {
          content: '';
          position: absolute;
          bottom: 3px;
          right: #{-$item-menu-subtitle-divider-offset};
          width: 1px;
          height: $item-menu-subtitle-divider-height;
          background: #fff;
          opacity: 0.5;
        }
      }
      span:last-child {
        margin-left: $item-menu-subtitle-divider-offset;
        color: #c2c2c2;
      }
    }
    &--medias {
      li {
        span:last-child {
          margin: 0;
          color: #fff;
          &::after {
            display: none;
          }
        }
      }
    }
  }
  &:nth-child(1) {
    li {
      @each $index, $delay in (6, 1), (5, 2), (4, 3), (3, 4), (2, 5), (1, 6) {
        &:nth-child(#{$index}) {
          transition-delay: #{$delay / 40}s;
        }
      }
    }
  }
  &:nth-child(2) {
    left: 100px;
    li {
      @each $index, $delay in (4, 1), (3, 2), (2, 3), (1, 4) {
        &:nth-child(#{$index}) {
          transition-delay: #{$delay / 40}s;
        }
      }
    }
  }
  &:nth-child(3) {
    left: 188px;
    li {
      @each $index, $delay in (3, 1), (2, 2), (1, 3) {
        &:nth-child(#{$index}) {
          transition-delay: #{$delay / 40}s;
        }
      }
    }
  }
  &:nth-child(4) {
    left: 352px;
    li {
      @each $index, $delay in (6, 1), (5, 2), (4, 3), (3, 4), (2, 5), (1, 6) {
        &:nth-child(#{$index}) {
          transition-delay: #{$delay / 40}s;
        }
      }
    }
  }
}

.menu-item-indicator {
  position: absolute;
  top: calc(#{$divider-offset} - 1px);
  left: 0;
  width: 74px;
  height: 2px;
  background: #fff;
  transform-origin: left center;
  transition: transform $transition-time;
}

// Hover Behaviors
.nav-bar:hover {
  .nav-bar {
    &__background {
      transform: scaleY(3.5);
      opacity: 1;
    }
  }
  .nav-bar-title {
    opacity: 0;
  }
  .nav-bar-menu {
    opacity: 1;
    &__divider {
      transform: scaleX(1);
    }
  }
  .nav-bar-menu-item {
    top: calc(50% - 26px / 2);
    transform: none;
    &__submenu {
      position: relative;
      top: 20px;
    }
  }
}

.nav-bar-menu-item:hover {
  .nav-bar-menu-item {
    &__submenu {
      li {
        opacity: 1;
        pointer-events: auto;
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i / 20}s;
          }
        }
      }
    }
  }
}
