.nav-bar-mobile {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  @media screen and (min-width: 1280px) {
    display: none;
  }
  &__logo {
    position: relative;
    z-index: 9999;
    transition: transform .4s;
    transform-origin: left top;
    img {
      width: 60px;
    }
    &--large {
      transform: scale(2.5) translateY(7px);
    }
  }
  &__menu-btn {
    position: relative;
    z-index: 9999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    transition: transform .4s;
    &--close {
      transform: translateY(40px);
    }
  }
}

.nav-bar-mobile-menu {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform .4s cubic-bezier(.06,.7,.63,.97);
  overflow: hidden;
  &__wrapper {
    width: 100%;
    height: 100%;
    transition: transform .4s cubic-bezier(.06,.7,.63,.97);
    transform: translateY(100%);
  }
  &__drawer {
    position: relative;
    margin-top: 8rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    overflow-y: scroll;
    @media (orientation: landscape) {
      max-height: 210px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #fff;
    }
  }
  &--visible {
    transform: translateY(0);
    pointer-events: auto;
    .nav-bar-mobile-menu {
      &__wrapper {
        transform: translateY(0);
      }
    }
  }
}

.mobile-menu-item {
  padding: 0.5rem 0;
  &__submenu {
    margin: 0 0 0 1rem;
    max-height: 0;
    transition: all .5s;
    overflow: hidden;
    li {
      span:first-child {
        position: relative;
        margin-right: $item-menu-subtitle-divider-offset;
        &::after {
          content: '';
          position: absolute;
          bottom: 3px;
          right: #{-$item-menu-subtitle-divider-offset};
          width: 1px;
          height: $item-menu-subtitle-divider-height;
          background: #fff;
          opacity: 0.5;
        }
      }
      span:last-child {
        margin-left: $item-menu-subtitle-divider-offset;
        color: #c2c2c2;
      }
    }
    &--visible {
      max-height: 500px;
    }
  }
}

.mobile-menu-indicator {
  position: absolute;
  left: 3px;
  top: 0.5rem;
  width: 3px;
  height: calc(40px - 1rem);
  background: #fff;
  transition: transform .4s;
}

