.black-belt {
    background-color: #6d6e71;
    text-align: right;
    p {
        padding: 10px 0;
        margin-bottom: 0;
    }
}
.gray-belt {
    background-color: #999999;
    height: 15px;
}
.red-belt {
    background-color: $theme-color;
    height: 40px;
}
.black-belt, .gray-belt, .red-belt {
    width: 100%;
}
// title sections
#intro-slave, #negocio-slave, #relac-slave, #compromisso-slave {
    .titleContainer {
        .titleSection-wrapper {
            justify-content: flex-start;
        }
        .subTitleLine {
            margin-left: 0;
        }
        .titleCompl {
            text-align: left;
        }
    }
    .block-cols {
        margin-top: 40px;
        .col-half {
            h2 {
                text-align: right;
                margin: 0;
            }
            .image-wrapper {
                width: 100%;
                padding-right: 40px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
#politica-slave {
    .titleContainer {
        .titleSection-wrapper {
            justify-content: flex-end;
        }
        .subTitleLine {
            margin-right: 0;
        }
        .titleCompl {
            text-align: right;
        }
    }
    .block-cols {
        .col-half {
            .image-wrapper {
                width: 100%;
                padding-right: 40px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
footer.footer-pages {
    width: 100%;
    padding: 10px 0;
    background: #999999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    small {
        color: #FFF;
    }
}
body #body-wrapper .footer-pages .container {
    padding-bottom: 0;
}
.avatar-bottom-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .avatar-wrapper {
        width: 50px;
        img {
            width: 100%;
        }
    }
}